<div id="login" align="center">
  <%=form_tag '',:id=>"loginform",:class=>"rounded",:method=>"POST" %>
  <h3>Login</h3>
  <div class="field">
    <label for="user_login">Login:</label><br/>
    <%= text_field "user", "login", :size => 20,:class=>"input" %>
    <p class="hint">Enter your username.</p>
  </div>
  <br/>
  <div class="field">
    <label for="user_password">Password:</label><br/>
    <%= password_field "user", "password", :size => 20,:class=>"input" %>
    <p class="hint">Enter your password.</p>
  </div>
  <br/>
  <%= submit_tag "Login",:class=>"button" %>
</div>
<!--
<div id="login" align="center">

<form id="loginform" class="rounded" method="post" action="">
<h3>Login Form</h3>

<div class="field">
    <label for="username">Username:</label>
    <input type="text" class="input" name="username" id="username" />
    <p class="hint">Enter your username.</p>
</div>
 <br/>
<div class="field">
    <label for="password">Password:</label>
    <input type="password" class="input" name="password" id="password" />
    <p class="hint">Enter your password.</p>
</div>

<input type="submit" name="Login"  class="button" value="Submit" />
</form>-->