<%if@diagnoses.size>0%>
<table class="data">
  <tr>
    <th>Diagnosis</th>
  </tr>
<% @diagnoses.each do |diagnosis| %>
  <tr>
<%if @poly %>
    <%diagnosis.diagnoses.each do |single_diagnosis|%>
      <td><%= link_to single_diagnosis.detail,single_diagnosis %></td>
    <%end%>

  <%else%>
    <td><%=  link_to diagnosis.detail,diagnosis%></td>
    </tr>
  <%end%>
<% end %>
</table>
<%end%>
<%if @current_encounter%>
<%= link_to 'New Diagnosis', new_encounter_diagnosis_path(@current_encounter),:class=>"button" %>
<%end%>
