<%if @encounters &&@encounters.size>0 %>
<%= render :partial => "detailed_encounter", :collection => @encounters, :as => :encounter,:spacer_template=>"encounters/spacer"%>
<%=will_paginate(@encounters)%>
<%else%>
<div class="norecords"><p>No records</p></div>
<%end%>
<%= link_to 'New Encounter', new_encounter_path,:class=>"button" %>