<div class="item">
  <div class="particulars_left">
    <%=particular.name%>
  </div>
  <div class ="particulars_center">
    <%=particular.quantity%><span> * <%=particular.price%>
  </div>
  <div class="particulars_right">
    <%=particular.price * particular.quantity%>
  </div>
</div>