<%if @payment && @payment.size>0%>
<div id="records">
  <p><b>Items purchased:</b></p>
  <table>
    <tr>
      <th>Item name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Sub Cost</th>
    </tr>
    <%= render :partial => "paysummary", :collection => @payment, :as => :particular%>
  </table>
  <%= render :partial => "summary"%>
  <%= link_to 'Back', payments_path,:class=>"button" %>
</div>
<%else%>
<div><p>No records found</p></div>
<%end%>