<%if @records.size>0%>
<table class="data">
  <tr>
    <th>Diagnosis</th>
  </tr>

<% @records.each do |diagnosis| %>
  <tr>
    <td><%= diagnosis.detail %></td>
  </tr>
<% end %>
</table>
<%end%>
<%#= will_paginate @records %>